<div class="blog">
  <div class="row blog-container">
    <div class="col-sm-12">
      <h3><%= @blog.title %>
        <% if current_user.id == @blog.user.id %>
          <%= link_to edit_user_blog_path(current_user, @blog), style: "margin-left: 20px;" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </h3>
      <p><%= @blog.content %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 new-comment">
      <h4>Add new comment</h4>
      <% if current_user %>
        <%= form_for [@blog, @comment] do |f| %>
          <fieldset class="form-group">
            <%= f.hidden_field :user_id, value: current_user.id %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.text_field :content, class: "form-control", placeholder: "Your comment content ..." %>
          </fieldset>
          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", signup_path %> to comment
      <% end %>
    </div>
    <div class="col-sm-8 comments">
      <h4>Comments (<%= @comments.size %>)</h4>
      <div class="comments-list">
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: {comment: comment} %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12 new-comment">
      <h4>Add new comment</h4>
      <%= form_for [@blog, @comment] do |f| %>
        <fieldset class="form-group">
          <%= f.text_field :content, class: "form-control", placeholder: "Your comment content ..." %>
        </fieldset>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div> -->
</div>